.brightness-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 3rem;
  margin-left: 3rem;
}

.brightness-icon {
  width: 2rem;
  height: 2rem;
  background: none;
}
