* {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease all;
}

:root {
  --main-color: rgb(29, 30, 32);
}

body {
  background-color: var(--main-color);
}
